{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<center><div class="col-md-8 col-sm-8">
{% include "@Platform/appFlashes.html.twig"%}
</div></center>

<center><div class="col-md-4 col-sm-6">


        <h1>
            Ajouter un profil
        </h1>
        <hr>
        
        <br>
{{ form(form) }}</center>
{% endblock fos_user_content %}
