{% trans_default_domain 'FOSUserBundle' %}

<center>
    <div class="col-md-8">
        <h2>
            Mot de passe
        </h2>
        <hr>
        <br>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <br>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</center>
