{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <center>
        <div class="col-md-4">
            <div class="card" id="card-password">
                {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
            </div>
        </div>
    </center>

{% endblock fos_user_content %}
