{% extends "default/index.html.twig" %}
{% block content %}
    {% block stylesheets %}
        {{  parent() }}
        <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
    {% endblock %}
    <center>
        <div id="container" class="col-md-4" style="box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3); margin-top:60px;">

            <h3>Ajout d'un profil</h3>
            <hr>
            <br>
            <div class="col-md-10">
                {{ form(form) }}
            </div>

        </div>

    </center>

{% endblock %}
