.products-text{
    display:block;
    margin:auto;
}
h3, .card-title, .card-footer{
    text-align: center;
}
.btn-success {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
}
.btn-danger {
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
}

.btn-primary {
    margin-left: 30px;
    margin-top:20px;
}
h3 {
    margin-top: 20px;
}

#no-command{
    text-align: center;
}

.zero-command{
    text-align: center;
}

#records {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

#no-command{
    text-align: center;
}