{% extends "default/index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <center>
        <div id="container" class="col-md-5">

            <h3>Nouveau formulaire</h3>
            <div class="col-md-5">
                {{ form(form) }}
                </div>
            </div>
        </div>
    </center>
{% endblock %}
